APP_NAME="Portal Acadêmico"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=portal_academico
DB_USERNAME=portal_academico_user
DB_PASSWORD=
DB_ROOT_PASSWORD=

SESSION_DRIVER=redis
SESSION_LIFETIME=120

CACHE_STORE=redis
QUEUE_CONNECTION=redis

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=

FILESYSTEM_DISK=local

SIGEX_BASE_URL=
SIGEX_API_KEY=
SIGEX_CACHE_MINUTES=10
